doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Itokawa
        link(rel="stylesheet", href="/auth/auth.css")
    body
        div
            div.formContainer
                div.errorMessage #{errorMessage}
                div.message #{message}