input[type="file"] {
    display: none;
}

.backupContainer {
    box-sizing: border-box;
    padding: 8px 0px 8px 8px;
    width: 100%;
}

.backupContainer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.backupControls {
    float: right;
    display: none;
    margin-top: -7px;
}

.backupContainer:hover .backupControls{
    display: unset;
}

.backupContainer a.linkButton {
    min-width: unset;
    margin-left: 0;
}
