html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Itokawa Backup
        link(rel="stylesheet", href="/common.css")
    body
        div
            div.uiContainer
                div.backups
                    div.title Backups:
                    each backup in backups
                        div.backupContainer
                            span.title #{backup}
                            div.backupControls
                                a.linkButton(href="/backup/restore/" + backup) &lt;
                                a.linkButton(href="/backup/delete/" + backup) X
                div.buttons
                    a.linkButton(href="/backup/create") Create Backup