html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Itokawa Backup
        script(src="/backup/index.js") 
        link(rel="stylesheet", href="/common.css")
    body
        div
            div.uiContainer
                div.title Backups:
                div.backups
                    each backup in backups
                        div.backupContainer
                            a.title(href="/backup/download/" + backup) #{backup}
                            div.backupControls
                                a.linkButton(href="/backup/restore/" + backup) &lt;
                                a.linkButton(href="/backup/delete/" + backup) X
                div.buttons
                    form(id="UploadForm", action="/backup", method="post", encType="multipart/form-data")
                        a.linkButton(href="/backup/create") Create Backup
                        label.linkButton(for="file") Upload Backup
                        input(id="file", name="file", type="file", onchange="uploadFile(this.value)")
