html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Itokawa Backup
        script(src="/backup/index.js") 
        link(rel="stylesheet", href="/common.css")
        link(rel="stylesheet", href="/backup/backup.css")
    body
        div
            div.uiContainer
                div.title Backups:
                div.backups
                    each backup in backups
                        div.backupContainer
                            a.title(href="/backup/download/" + backup) #{backup}
                            div.backupControls
                                a.linkButton.rename(href="#", title="Rename backup", onclick="return renameBackup('" + backup + "')")
                                a.linkButton.restore(href="/backup/restore/" + backup, title="Restore backup", onclick="return restoreBackup()")
                                a.linkButton.delete(href="/backup/delete/" + backup, title="Delete backup", onclick="return deleteBackup()")
                div.buttons
                    form(id="UploadForm", action="/backup", method="post", encType="multipart/form-data")
                        a.linkButton(href="/backup/create") Create Backup
                        label.linkButton(for="file") Upload Backup
                        input(id="file", name="file", type="file", accept=".zip", onchange="uploadFile(this.value)")
        form(id="RenameForm", action="/backup/rename", method="post", style="display: none;")
            input(type="hidden", id="from", name="from")
            input(type="hidden", id="to", name="to")

