/*
 * Element Defaults
 */
body {
    font-family: sans-serif;
    top: 0;
    margin: 0;
    padding: 0;
}

button {
    width: calc(12.5% - 4px);
    height: 2.5em;
    margin-left: 2px;
    margin-right: 2px;
    font-size: large;
}


/*
 * General Purpose
 */
.container {
    padding: 2px;
}


/*
 * Connection Status
 */
.connectionStatus {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px;
}

.connectionStatus .led {
    width: 1.5em;
    height: 1.5em;
    margin: 1px;
    display: inline-block;
    border-color: rgb(24, 24, 24);
    border-width: 2px;
    border-style: solid;
    border-radius: 0.75em;
    transition: background-color 0.2s;
}

.connectionStatus .disconnected {
    background-color: gray;
}

.connectionStatus .connecting {
    background-color: orange;
}

.connectionStatus .connected {
    background-color: greenyellow;
}

.connectionStatus .error {
    background-color: red;
}

#statusBar {
    position: absolute;
    left: 0;
    top: calc(-50vh + 1.5em + 10px);

    width: 100vw;
    background-color: lightgray;
    padding: 2px;
    box-sizing: border-box;

    height: 50vh;

    transition: top 0.5s ease-in-out;
}

#statusBar.expanded {
    top: 0;
}

/*
 * Content Area Protection
 */
 #protection {
    position: absolute;
    top: 0;
    visibility: hidden; /* NOTE: You can't transition on display */
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: black;
    transition: opacity 0.5s, visibility 0.5s step-end;
 }

 #protection.active {
    visibility: visible;
    opacity: 0.6;
    transition-timing-function: linear, step-start;
 }


/*
 * Content Area
 * Depends on normal status bar height:
 *     #statusBar padding * 2 (4px)
 *     .led border * 2 (4px)
 *     .led margin * 2 (2px)
 *     .lef height 1.5m
 */
#contentArea {
    overflow-y: auto;
    margin-top: calc(10px + 1.5em);
    height: calc(100vh - (10px + 1.5em));
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}


/*
 * System Controls
 */
#globalControls {
    margin-top: 1em;
}

#globalControls button {
    width: calc(25% - 4px);;
}

/*
 * Train Controls
 */

#trainControls {
    margin-top: 1em;
    margin-bottom: 1em;
}

.trainControl .title {
    width: 37.5%;
    display: inline-block;
    font-size: large;
}


/*
 * QR Code Control
 */
.qrcode {
    margin-top: 1em;
    text-align: center;
}

.qrcode img {
    image-rendering: pixelated; 
    width: 12em;
    height: 12em;
    border: black 4px solid;
    margin: 0.5em;
}

.qrcode a {
    color: black;
    font-weight: bold;
}

.qrcode a:visited {
    color: black;
}

/*
 * TTY Control
 */
.tty {
    background-color: black;
    font-family: monospace;
    white-space: pre-wrap;
    color: lightgray;
    padding: 4px;
    box-sizing: border-box;
    overflow-y: auto;
}

.tty span {
    word-wrap: break-word;
}

.tty .stderr {
    color: red;
}

#updateTty .tty {
    height: 100%;
}


/*
 * Emergency Stop Button
 */
#emergencyStop {
    padding: 1em;
}

#emergencyStop button {
    width: 100%;
    height: 4em;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: x-large;
}