body {
    font-family: sans-serif;
}

button {
    width: 6em;
    margin-left: 2px;
    margin-right: 2px;
}

#statusBar {
    background-color: lightgray;
    margin: -8px -8px 2px -8px;
    padding: 2px;
}

.connectionStatus {
    text-align: right;
}

.connectionStatus .led {
    width: 1.5em;
    height: 1.5em;
    margin: 1px;
    display: inline-block;
    border-color: rgb(24, 24, 24);
    border-width: 2px;
    border-style: solid;
    border-radius: 0.75em;
    transition: background-color 0.2s;
}

.connectionStatus .disconnected {
    background-color: gray;
}

.connectionStatus .connecting {
    background-color: orange;
}

.connectionStatus .connected {
    background-color: greenyellow;
}

.connectionStatus .error {
    background-color: red;
}

.container {
    padding: 2px;
}

.trainControl .title {
    width: 8em;
    display: inline-block;
}

.qrcode {
    text-align: center;
}

.qrcode image {
    image-rendering: pixelated; 
    width: 198px;
    height: 198px;
}
