body {
    background-color: lightgoldenrodyellow;
}

.dragItem {
    width: 100%;
    height: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 4px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;

    background-color: lightgray;
    border-color: slategray;
}

.dragHandle {
    float: right;
    cursor: grab;
    height: 100%;
    width: 20px;
    margin: -4px;
    padding: 4px;

    background-image: url(../icons/drag_handle.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.dragItem.dragging .dragHandle {
    cursor: grabbing;
}

.dragItem.dragging {
    position: relative;
    z-index: 1;
    left: 5px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    cursor: grabbing;
}

.dragItem.shiftable {
    transition: transform 0.2s ease-in-out;
}

.dragItem.shiftDown {
    transform: translateY(calc(100% + 2px));
}

.dragItem.shiftUp {
    transform: translateY(calc(-100% - 2px));
}